HiddenServiceDir /data/app-$APP_ID-frontend
HiddenServicePort $APP_LN_SWAP_FRONTEND_PORT $APP_LN_SWAP_FRONTEND_IP:$APP_LN_SWAP_FRONTEND_PORT

HiddenServiceDir /data/app-$APP_ID-backend
HiddenServicePort $APP_LN_SWAP_BACKEND_PORT $APP_LN_SWAP_BACKEND_IP:$APP_LN_SWAP_BACKEND_PORT