HiddenServiceDir /data/app-$APP_ID-frontend
HiddenServicePort $APP_LN_SWAP_FRONTEND_PORT frontend:$APP_LN_SWAP_FRONTEND_PORT

HiddenServiceDir /data/app-$APP_ID-backend
HiddenServicePort $APP_LN_SWAP_BACKEND_PORT backend:$APP_LN_SWAP_BACKEND_PORT